.container {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}

.header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.resultItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.ratingLow {
    color: #FF3B30;
    /* Red */
}

.ratingMedium {
    color: #FF9500;
    /* Orange */
}

.ratingHigh {
    color: #34C759;
    /* Green */
}